<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.justwayward.renren">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".ReaderApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchByAuthorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BooksByTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReadActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BookSourceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ReadPDFActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ReadEPubActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/epub+zip" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ReadCHMActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/mshelp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TopCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SubCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SubjectBookListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SubjectBookListDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TopRankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SubRankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SubOtherHomeRankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookDiscussionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookDiscussionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookReviewDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookHelpDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookDetailCommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GirlBookDiscussionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyBookListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScanLocalBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WifiBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.DownloadBookService" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105670298" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.login.RegisterActivity" />
        <activity android:name=".ui.activity.ForgetPwdActivity" />
        <activity android:name=".ui.activity.Main2Activity" android:launchMode="singleTask" />
        <activity android:name=".ui.activity.AllReviewActivity" />
        <activity android:name=".ui.activity.EditReviewActivity" />
        <activity android:name=".ui.activity.ReviewDetailActivity" />
        <activity android:name=".ui.activity.MakeCommentActivity" />
        <activity android:name=".ui.activity.TopActivity" />
        <activity android:name=".ui.activity.SubCategoryActivity" />
        <activity android:name=".ui.activity.VipOtherActivity" />
        <activity android:name=".ui.DiscoverOtherActivity" />
        <activity android:name=".ui.activity.MyVipActivity" />
        <activity android:name=".ui.activity.MyAssetsActivity" />
        <activity android:name=".ui.activity.BuyHistoryActivity" />
        <activity android:name=".ui.activity.ReadyHistoryActivity" />
        <activity android:name=".ui.activity.RechargeDetailActivity" />
        <activity android:name=".ui.activity.InputMoneyActivity" />
        <activity android:name=".ui.activity.MyInfoActivity" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.activity.RankDetailActivity" />
        <activity android:name=".ui.activity.CommonActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.ChangePwdActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106596041" />
            </intent-filter>
        </activity>

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="22e13bdfa1c64" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="a8ad849c724d1936972909a8410f1377" />

        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="behind" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a3a17f7f43e482155000230" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <meta-data
            android:name="com.justwayward.renren.view.OkHttpGlideModule"
            android:value="GlideModule" />

        <activity android:name=".ui.activity.FontListActivity" />
        <activity android:name=".ui.activity.MyYuanActivity" />
        <activity android:name=".ui.activity.DiscoverOther2Activity" />
        <activity android:name=".ui.activity.UserAgreementActivity" />

        <!-- 广告 -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="e866cfb0" />

        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.DiscoverOther3Activity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.FreeListActivity" />
        <activity android:name=".ui.activity.WordNumRangeActivity"></activity>
    </application>

</manifest>